/*FONTS*/
@font-face {
  font-family: AbrilFatface;
  src: url(fonts/AbrilFatface-Regular.ttf);
}
@font-face {
  font-family: OpenSans-Bold;
  src: url(fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: OpenSans-Light;
  src: url(fonts/OpenSans-Light.ttf);
}

/*GENERIC*/
section{
	width:100%;
	clear:both;
}
body{
	font-family:OpenSans-Light;
	background-color:#dbffd6;
}

#feed{
	padding-top:4rem;
}
#old-wrapper,#new-wrapper{
	text-align:center;
	padding:1rem;
	box-sizing:border-box;
}
#new,#older{
	font-family:OpenSans-Bold;
	cursor: pointer;
	text-decoration:underline;
}
/*HEADER*/

#hero h1{
	padding-top: 2rem;
    font-size: 3.5rem;
    line-height: 1rem;
}
#hero h3{
	padding-top:2rem;
}
#hero{
	font-family:AbrilFatface;
	margin-bottom:2rem;
}
#hero{
	font-size:3rem;
}

#rolam-link{
	text-decoration:underline;
}
#rolam-link a{
	color:black;
}
/*POST*/
.post-foo{
}
.post-title{
	clear:both;
	font-family:OpenSans-Bold;
}
.post-content{
	padding:1rem;
	text-align: justify !important;
}
.post-foo{
	padding:1rem;
}
.post{
	margin-bottom:4rem;
	padding-bottom:4rem;
	box-sizing:border-box;
}
.post-share-link{
	display:none;
	float:right;
}
.post-share-link-inp{
	outline:none;
	border:none;
	background-color:#dbffd6;
	width:10rem;
}
.post-foo *{
	font-size:1rem !important;
}
.share-icon{
	font-size:1.3rem;
	float:right;
}

/*MODALS*/
#modal-search{
	display:none;
}

#modal-search{
	background-color:inherit;
}
#close-search-header{
	text-align:right;
	padding-top:3rem;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/*SEARCH*/

#search-keywords{
	border:none;
	background:transparent;
	width:90%;
}
#search-keywords:focus{
	outline: none;
}
#modal-search-results{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:3rem;
}
.result-link{
	color:black;
	text-decoration:none;
}
.result-link:hover{
	color:gray;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

/*footer*/
#rolam{
	margin-top:100vh;
}
#copyrights{
	font-size:13px !important;
	text-align:justify;
}

/*DEVICE SIZE SPECIFIC*/

@media (min-width: 600px) {
	.post{
		border-bottom:1px solid black;
		padding-right:4rem;
	}
	

	
}

@media (min-width: 1024px) {
	#feed{
		width:60%;
		margin-left:auto;
		margin-right:auto;
	}

	.post{
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.post *{
		text-align: left;
	}
	#hero{
		display:inline-block;
		width:60%;
		float:left;
		padding-left:10%;
		box-sizing:border-box;
	}
	#hero h1{
		padding-top: 2rem;
		font-size: 6rem;
		line-height: 2rem;
	}
	#hero h3{
		padding-top:2rem;
	}
	#search{
		padding-top: 2rem;
		width:40%;
		float:right;
		display:inline-block;
		text-align:right;
		padding-right:10%;
		box-sizing:border-box;
	}
	#modal-search-results{
		width:80%;
	}
	#modal-search-results>div{
		width:50%;
		float:left;
		display:inline-block;
		padding:1rem;
		box-sizing:border-box;
	}
	#close-search-header{
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
	#rolam{
		width:60%;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:5rem;
	}
}